sina/aligned_ssu.csv
sina/arb-silva.de_2020-11-10_id911813_tax_silva.fasta
metadata/names.dmp
sina/aligned_lsu.csv
sina/euk_interesting.fasta
metadata/metagenome.lst
krona/ssu_sina_for_krona.out
krona/ssu_sina.html.files
raw/arb-silva.de_2020-11-10_id911813.tgz
krona/whole_blast_out.tsv
